---
const { title, profilePic, subtitles } = Astro.props;
---

<header
  class="w-full flex flex-col-reverse gap-5 md:flex-row md:items-center md:justify-between"
>
  <div class="text-lg text-black">
    <div class="flex gap-2">
      <h1 class="mb-1 text-2xl">{title}</h1>
      <svg
        class="w-4 text-blue-600"
        viewBox="0 0 10 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M9 1V3M1 1V3M2 9C2 9 3 10 5 10C7 10 8 9 8 9M5 1V6H4"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
    {
      subtitles.map((item) => (
        <p>
          {item.text1} <span class="text-neutral-500">{item.text2}.</span>
        </p>
      ))
    }
  </div>
  <img
    class="w-28 h-28 rounded-full object-cover"
    src={profilePic}
    alt={title}
  />
</header>
