---
const { title, profilePic, subtitles } = Astro.props;
---

<header
  class="w-full flex flex-col-reverse gap-5 md:flex-row md:items-center md:justify-between"
>
  <div class="text-lg text-black">
    <h1 class="mb-1 text-2xl">{title}</h1>
    {
      subtitles.map((item) => (
        <p>
          {item.text1} <span class="text-neutral-500">{item.text2}.</span>
        </p>
      ))
    }
  </div>
  <img
    class="w-28 h-28 rounded-full object-cover"
    src={profilePic}
    alt={title}
  />
</header>
